{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The ID of the widget plugin this facet uses.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @see facets_preprocess_facets_item_list()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ncc/listing-filters') }}

{# PLEASE ensure this accordion is up to date with the molecule. It needs to NOT use bem but match the markup #}
<div class="listing-filters facets-widget facets-widget--{{- facet.widget.type -}}">
  {% if items %}
    {% for group in items %}
      <div class="accordion js-accordion">
        <h3 class="heading heading--sub js-accordion-heading accordion__heading heading--xsmall">
          <button class="button button--icon accordion__button" aria-expanded="false">
            {{ group.title }}<svg class="icon" aria-hidden="true" role="presentation"><use xlink:href="/themes/custom/ncc/dist/icons.svg#chevron-down"></use></svg>
          </button>
        </h3>

        <div class="accordion__content js-accordion-content">
          {% set attributes = attributes.addClass('facets-widget__list', 'facets-widget__list--checkbox') %}

          {% if items %}
            <{{ list_type }}{{ attributes }}>
            {% for item in group.items %}
              <li class="facet-item form-item--checkbox__item">
                {{ item.value }}
              </li>
            {% endfor %}
          </{{ list_type }}>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
