{#
/**
 * Available variables:
 * - hero_base_class: base classname of the wrapper.
 * - hero_modifiers: array of modifiers to add to the base classname of the wrapper.
 * - hero_blockname: blockname prepended to the base classname of the wrapper(s) and each component.
 * - hero_extra_classes: array of extra classes to add to the base classes.
 *
 * - hero_heading: Hero banner heading.
 * - hero_heading_level: Hero banner heading level.
 *
 * Available blocks:
 * - hero_image_block: Image block to replace the image on Drupal.
 * - hero_search-block: Search form block to replace on Drupal.
 */
#}

{{ attach_library('oh_my_pasta/hero') }}
{% set hero_base_class = 'hero' %}
{% set hero_background_type = hero_background_type|default([false]) %}
{% set hero_search_enable = hero_search_enable|default([false]) %}

<div
  {{ bem(hero_base_class, hero_modifiers|default([]), hero_blockname, hero_extra_classes) }}>
	  {# Hero background image #}
		<div class="hero__image">
			{{ content.field_hero_image }}
		</div>

		<div {{ bem('content', hero_modifiers|default([]), hero_base_class, hero_extra_classes) }}>
			<div class="hero__subheading">
				<h2>{{ content.field_hero_subheading }}</h2>
			</div>
			<div class="hero__heading">
				<h3>{{ content.field_hero_heading }}</h3>
			</div>
			<div class="hero__description">
				<p>{{ content.field_hero_description }}</p>
			</div>
		</div>
</div>
