{#
/**
 * Available variables:
 * - breadcrumb_base_class - base classname of the wrapper.
 * - breadcrumb_modifiers - array of modifiers to add to the base classname of the wrapper.
 * - breadcrumb_blockname - blockname prepended to the base classname of the wrapper(s) and each component.
 * - breadcrumb_extra_classes - array of extra classes to add to the base classes.
 *
 * Available blocks:
 * - list_content_block
 * - list_item_content_block
 */
#}

{{ attach_library('oh_my_pasta/breadcrumbs') }}
{% set breadcrumb_base_class = 'breadcrumb' %}

<nav aria-labelledby='system-breadcrumb' {{ bem(breadcrumb_base_class, breadcrumb_modifiers, breadcrumb_blockname, breadcrumb_extra_classes) }}>
  <div class="container">
    {# Hidden menu title for screen readers #}
    <h2 {{ bem('visually-hidden') }} id='system-breadcrumb'>{{ 'Breadcrumb trail'|t }}</h2>

    {# Main breadcrumb list #}
    {% embed "@atoms/list/list.twig" with {
      list_type: 'ol',
      list_base_class: 'list',
      list_modifiers: ['inline'],
      list_extra_classes: [breadcrumb_base_class ~ '__list'],
    } %}
      {% block list_content_block %}
        {% for item in breadcrumb %}
          {% embed "@atoms/list/_list-item.twig" with {
            li_extra_classes: [breadcrumb_base_class ~ '__item'],
          } %}
            {% block list_item_content_block %}
              {% if item.url %}
                {% include "@atoms/link/link.twig" with {
                  link_content: item.text,
                  link_url: item.url,
                  link_icon: true,
                  link_icon_name: 'chevron',
                } %}
              {% else %}
                {{ item.text }}
              {% endif %}
            {% endblock %}
          {% endembed %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  </div>
</nav>
